<p id="notice"><%= notice %></p>

<h1>Listing Reports</h1>

Filter reports by reason
<%= form_tag(reports_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Enter reason" %>
<%= submit_tag "Filter" %>
<% end %>

<% if false %>
<% if @posts.present? %>
  <%= render @reports %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>
<% end %>


<table>
  <thead>
    <tr>
      <th>Reason</th>
      <th>Description</th>
      <th>App</th>
      <th>Status</th>
      <th>Person</th>
      <th>Moderator</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <% app = Application.find(report.app_id) %>
        <% author = Person.find(report.person) %>
        <td><%= report.reason %></td>
        <td><%= report.description %></td>
        <td><%= app.app_name %></td>
        <td><%= report.status %></td>
        <td><%= "#{author.first_name} #{author.last_name}" %></td>
        <td><%= report.moderator %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
